<div class="container">
    <div class="col-10 offset-1 d-flex flex-direction-row flex-wrap">
        <div class="col-4" *ngFor="let user of userList$ | async">
        <!-- <p> <strong>{{user.login}}</strong>
            <img src="{{user.avatar_url}}" alt="{{user.login}}"> 
            {{user.contributions}} 
            <button class="btn btn-primary">
                <a class="text-white" href="{{user.repos_url}}">View Repository</a>
            </button>
        </p> -->
        <div class="card mx-5 my-4 " style="width: 18rem;">
            <div class=" d-flex flex-row">
                <img src="{{user.avatar_url}}" style="width: 6rem;" class="card-img-top m-3" alt="{{user.login}}">
                <small class="align-self-end">@github</small>
                <div class="right">
                    <i class="fa fa-crosshairs fa-2x mt-3"></i>
                </div>
            </div>
            <div class="card-body">
              <h5 class="card-title"><strong>{{user.login}}</strong></h5>
              <p class="card-text"> {{user.contributions}} commits </p>
              <a href="{{user.repos_url}}" class="btn btn-outline-primary">View Repository</a>
            </div>
          </div>
        </div>
    </div>
</div>
